{   
    "extends": ["@ornikar/eslint-config/babel", "prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".ts"
                ]
            }
        }
    },
    "plugins": ["prettier"],
    "env": {
        "browser": true,
        "node": true
    },
    "overrides": [
        {
            "files": ["src/*.ts"],
            "rules": {
                "import/no-extraneous-dependencies": {
                    "devDependencies": true
                },
                "max-lines": ["error", {
                    "skipComments": true
                }]
            }
        },
        {
            "files": ["rollup.config.js"],
            "rules": {
                "import/no-extraneous-dependencies": {
                    "devDependencies": true
                }
            }
        },
        {
            "files": ["test*.config.js"],
            "rules": {
                "import/no-extraneous-dependencies": {
                    "devDependencies": true
                },
                "import/no-commonjs": "off"
            }
        },
        {
            "files": [
                "src/**/*.test.ts"
            ],
            "env": {
                "jest": true
            },
            "rules": {
                "import/no-extraneous-dependencies": [
                    "error",
                    {
                        "devDependencies": true
                    }
                ]
            }
        }
    ]
}